.student{
    background-color: rgba(195, 15, 15, 0.939);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-inline-start: 10px;
    border: 1px solid rgba(224, 21, 21, 0.974);
    border-radius: 20px;
}