.student{
    background-color: rgba(239, 241, 241, 0.939);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    padding-inline-start: 10px;
    border: 1px solid rgba(236, 5, 5, 0.974);
    border-radius: 20px;
}